$primary-font-stack: 'Gotham', helvetica, arial, sans-serif;
$heading-font-stack: 'Domaine', helvetica, arial, sans-serif;
$heading-font-stack--secondary: 'Domaine', helvetica, arial, sans-serif;
$button-font-stack: 'Gotham', helvetica, arial, sans-serif;


// fonts size value without unit
$font-size--body-xs: 14;
$font-size--body-sm: 14;
$font-size--body-md: 16;
$font-size--body-lg: 16;

$line-height--body-xs: 1.5;
$line-height--body-sm: 1.5;
$line-height--body-md: 1.625;
$line-height--body-lg: 1.625;


$font-size--h1: 42;
$font-size--h2: 36;
$font-size--h3: 30;
$font-size--h4: 24;
$font-size--h5: 18;
$font-size--h6: 16;

$line-height--h1: 1.14285;
$line-height--h2: 1.1625;
$line-height--h3: 1.2;
$line-height--h4: 1.25;
$line-height--h5: 1.375;
$line-height--h6: 1.3125;



